<div class="section-title-div">
  <img src="../../assets/images/owl.png" />
  <p>Topics</p>
</div>
<div class="actions">
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
</div>
<div class="section-title-div">
  <img src="../../assets/images/owl.png" />
  <p>Phrases</p>
</div>
<div class="actions">
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
  <button class="action-btn blue">
    Action
  </button>
</div>

