<div class="page-body">
  <h1>PEER REVIEWERS</h1>
  <div class="dropzone-container">
    <app-upload-area (upload)="upload($event)"></app-upload-area>
    <h4 *ngIf="loadingText">Extracting keyphrases and topics....</h4>
  </div>
  <div class="landing-div">
  </div>
  <div *ngIf="keyWords" class="actions-container">
    <app-keywords *ngIf="keyWords" [keywords]="keyWords" (send)="search($event)"></app-keywords>
    <h4 *ngIf="loadingText">Searching for matching documents....</h4>
  </div>
  <div *ngIf="searchResult" class="results-container">
    <app-results [results]="searchResult"></app-results>
  </div>
</div>
